<a href="<%=@vk_oauth_url%>" class="button">Зайти через ВКонтакте</a>
<a href="<%=@vk_oauth_url%>" class="button">Зайти через ВКонтакте</a>
<a href="<%=@vk_oauth_url%>" class="button">Зайти через ВКонтакте</a>
<a href="<%=@vk_oauth_url%>" class="button">Зайти через ВКонтакте</a>
<a href="<%=@vk_oauth_url%>" class="button">Зайти через ВКонтакте</a>
