<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User name</th>
      <th>Vk ID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <%if user.social%>
          <td> <%= user.social.name %> </td>
          <td> <%= user.social.vk_id %> </td>
        <% else %>
          <td> Name not found </td>
          <td> ID not found </td>
       <% end %>

        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
